<%-include('partials/header.ejs')-%>
    <h1>Hi <%=userthing%>, are you ready to start your notebook?</h1>
    <form action="/page" method="POST" >
    
        <div class="form-group">
            <input type="text" class="form-control text-left" name="title" placeholder="Title of new page" required>
            <textarea class="form-control" name="content" rows="5" cols="30" placeholder="Contents of page" required></textarea>
        </div>
        <button type="submit" class="btn btn-light prettyBtn">Add Page</button>

    </form>

 

    <!-- Getting the page to only show the userContent with the owner name (username) -->
    <!-- userContent is from the find function where it sends all the things that it found and this for loop loops around it -->
    <% userContent.noteBookContents.reverse().forEach(function(newContent){%>
           <div>
            <!-- delete form and button -->
            <form action="/delete" method="POST" class="icon-style-form">
            
                <button type="submit" class="delete-btn action-btn" name="deleteEntry" value="<%= newContent._id %>"><i class="fa-solid fa-eraser fa-xl"></i></button> 
                
            </form>
            <!-- There is no put statement so try to change it to a post request and accept the value/state that is outputted and send it below
            to the newContent.state area-->
            <!-- edit button for activating state and making the edit form show up -->
            <form action="/preEdit" method="Post" class="icon-style-form">
                <button type="submit" class="edit-btn action-btn" name="editEntry" value="<%= newContent._id %>"><i class="fa-solid fa-pencil fa-xl"></i></button>     
            </form>
            </div>
            <!-- displays the users entry -->
            <h1 class="note-heading"><%=newContent.title.substring(0,20) + "..."%> <span class="date-style"><%=newContent.date%> <%=newContent.time%></span></h1>
            <p class="note-body"><%=newContent.content.substring(0,100) + "..."%></p>


            <!-- button that takes the user to the page with the rest of the entry -->
            <button class="page-btn"><a href="/userContent/<%=newContent.title%>">Go to page</a></button>
         

            <h2>---</h2>
                <!-- edit form that changes state to not editing and disappears after the edit is made -->
                <form action="/edit" method="POST" class="icon-style-form ">
                <!-- the class waits for the value of the state to change and the corresponding style is added-->
                <div class="form-group <%=newContent.state%>">
                <input type="text" class="form-control text-left" name="title2" value="<%=newContent.title%>" required>
                <textarea class="form-control" name="content2" rows="5" cols="30" required><%=newContent.content%></textarea>
                <button type="submit" class="btn btn-light prettyBtn" name="Edit" value="<%= newContent._id %>">edit Page</button>
            </form>
            </div>
            
            <h2>---</h2>
    <% }) %> 
  


<div class="logoutBtn">
<a class="btn btn-light" href="/logout" role="button">Log Out</a>
</div>
<%- include("partials/footer.ejs")-%>