<%-include('partials/header.ejs')-%>
    <p><a class="btn btn-light" href="/settings" role="button"><i class="fa-solid fa-gear">Settings</i></a></p>
    <img src="<%=userContent.profileImage.url%>" class="profile-image" alt="...">
    <h1>Hi <%=userthing%>, are you ready to start your notebook?</h1>
    <div class="top-buttons">
   <p >
    <a class="btn btn-light" href="/publicPage" role="button"><i class="fa-sharp fa-solid fa-globe fa-xl"></i></a>
    <a class="btn btn-light" href="/trashBin" role="button"><i class="fa-solid fa-trash"></i></a>
    <a class="btn btn-light" href="/logout" role="button">Log Out</a>
    </p>
</div>   

    <form action="/page" method="POST" >
    
        <div class="form-group">
            <input type="text" class="form-control text-left" name="title" placeholder="Title of new page" required>
            <textarea class="form-control" name="content" rows="5" cols="30" placeholder="Contents of page" required></textarea>
            <button type="submit" class="btn btn-light prettyBtn">Add Page</button>
            </div>


    </form>

 

    <!-- Getting the page to only show the userContent with the owner name (username) -->
    <!-- userContent is from the find function where it sends all the things that it found and this for loop loops around it -->
    <% userContent.noteBookContents.reverse().forEach(function(newContent){%>
           <div>
            <!-- delete form and button -->
            <form action="/delete" method="POST" class="icon-style-form">
            
                <button type="submit" class="delete-btn action-btn" name="deleteEntry" value="<%= newContent._id %>" alt="delete"><i class="fa-solid fa-eraser fa-xl"></i></button> 
                
            </form>

            <!-- edit button for activating state and making the edit form show up -->
            <form action="/preEdit" method="Post" class="icon-style-form">
                <button type="submit" class="edit-btn action-btn" name="editEntry" value="<%= newContent._id %>" alt="edit"><i class="fa-solid fa-pencil fa-xl"></i></button>     
            </form>
            <!-- share button to toggle the shared post -->
            <form action="/share&unshare" method="POST" class="icon-style-form">
                <button type="submit" class="edit-btn action-btn share-<%=newContent.shared%>" name="share" value="<%=newContent._id %>" alt="share"><i class="fa-regular fa-share-from-square"></i></button>
            </form>
            </div>

            <!-- displays the users entry -->
            <div class="container-fluid">
            <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 note">
            <h1 class="note-heading"><%=newContent.title.substring(0,20) + "..."%> <span class="date-style"><%=newContent.date%> <%=newContent.time%></span></h1>
            <p class="note-body"><%=newContent.content.substring(0,100) + "..."%></p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 ">
            <p><img src="<%= newContent.imageURL%>" class="note-weather-image" alt="weather icon"></p>
            </div>
            </div>
            </div>
            <!-- button that takes the user to the page with the rest of the entry -->
            <button class="page-btn"><a href="/userContent/<%=newContent.title%>">Go to page</a></button>
         
            <h2>---</h2>
                <!-- edit form that changes state to not editing and disappears after the edit is made -->
                <form action="/edit" method="POST" class="icon-style-form ">
                <!-- the class waits for the value of the state to change and the corresponding style is added-->
                <div class="form-group <%=newContent.state%>">
                <input type="text" class="form-control text-left" name="title2" value="<%=newContent.title%>" placeholder="Title" required>
                <textarea class="form-control" name="content2" rows="5" cols="30" placeholder="Contents" required><%=newContent.content%></textarea>
                <button type="submit" class="btn btn-light prettyBtn" name="Edit" value="<%= newContent._id %>">edit Page</button>
                <h2>---</h2>
            </form>
            </div>
            
    <% }) %> 


<div class="logoutBtn">
<a class="btn btn-light" href="/logout" role="button">Log Out</a>
</div>
<%- include("partials/footer.ejs")-%>