<%-include('partials/nav.ejs')-%>


        <h1 class="post-title">
           Public Page 
        </h1>
    

<% publicPosts.reverse().forEach(function(post){%>
    <!-- <div class="container-fluid note-entry"> -->
       <!-- <div class="row note-entry note-<%=theme%>"> -->
            <div class="note-public note-<%=theme%>">
                <!-- displays the shared note-->
                <h1 class="note-heading">
                     <%=post.title.substring(0,20) %></h1>
                        <span class="date-style">
                        Posted by <%=post.owner%> on <%=post.date%> <%=post.time%>
                    </span>
                </h1>
                <!-- displays part of the entry content and leads to public contents page -->
                <p class="note-body">
                <%=post.content.substring(0,100) + "..." %><a href="/public-pages/<%=post._id%>">Go to page</a>
                </p>
            </div>
        <!-- </div> -->
    <!-- </div> -->
    <h2>---</h2>


    <% }) %>
    

<div class="back-btn">
    <a class="btn" href="/pages" role="button"><i class="fas fa-home"></i></a>
</div>

