<%- include("partials/header"); -%>

    <div class="userContent-style">
        <% newPublicContent.forEach(function(newPageContent){%>
            <% if(newPageContent._id==pageEntry){%>
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="page-entry full-title">
                                <%=newPageContent.title%> By: <%=newPageContent.owner%>
                            </h1>
                            <p class="page-entry full-body">
                                <%=newPageContent.content%>
                            </p>
                        </div>
                        <div class="col-md-5">
                            <form action="/review" method="POST" class="public-style">
                                <!-- the class waits for the value of the state to change and the corresponding style is added-->
                                <div class="form-group ">
                                    <textarea class="form-control" name="content" rows="5" cols="30" placeholder="Contents" required></textarea>
                                    <button type="submit" class="btn btn-light prettyBtn" name="reviewContent"  value="<%=newPageContent._id %>">Add review</button>
                                    <h2>---</h2>
                                </div>
                            </form>

                            <% newPageContent.reviews.reverse().forEach(function(reviewContent){%>
                                    <% if(reviewContent.author == currentUser){%>
                                    <form action="/deleteReview" method="post" class="icon-style-form">

                                        <button type="submit"  name="deleteReviews" value="<%=reviewContent._id%>" alt="delete review"><i class="fa-solid fa-eraser "></i></button>
                                    </form>
                                   <%}%>
                                <div class="review-style"> 
                                    
                                    <p>By <%= reviewContent.author%></p>
                                    <p><%=reviewContent.content%></p>
                                </div>                                


                            <%})%>
                    </div>
                </div>
                <%}%>
                    <% }) %>
                        </div>
                        <div class="back-btn">
                            <a class="btn btn-light" href="/page" role="button"><i class="fas fa-home"></i></a>
                        </div>
    </div>

    <%- include("partials/footer"); -%>