<%-include('partials/nav.ejs')-%>
    <div class="userContent-style">
        <% newPublicContent.forEach(function(newPageContent){%>
            <% if(newPageContent._id==pageEntry){%>

                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-md-7">
                            <article class="blog-post">
                                <h2 class="blog-post-title"><%=newPageContent.title%></h2>
                                <p class="blog-post-meta"><%=newPageContent.date%> at <%=newPageContent.time%> by <%=newPageContent.owner%></p>
                            
                                <p class="page-entry full-body"><%=newPageContent.content%></p>
                            </article>
                        </div>
                        <div class="col-md-5">
                            <%-include('partials/flash.ejs')-%>
                            <form action="/public-pages/<%=pageEntry%>/review?_method=PUT" method="POST" class="public-style">
                                <!-- the class waits for the value of the state to change and the corresponding style is added-->
                                <label><h5>Reviews</h5></label>
                                <div class="form-group ">
                                    <textarea class="form-control" name="content" rows="5" cols="30" placeholder="Contents" required></textarea>
                                    <button type="submit" class="btn btn-light prettyBtn">Add review</button>
                                    <h2>---</h2>
                                </div>
                            </form>
                            
                            <% newPageContent.reviews.reverse().forEach(function(reviewContent){%>
                                    <% if(reviewContent.author == currentUser){%>
                                    <form action="/public-pages/<%=pageEntry%>/review/<%=reviewContent._id%>/delete?_method=DELETE" method="post" class="icon-style-form">

                                        <button type="submit" alt="delete review"><i class="fa-solid fa-eraser "></i></button>
                                    </form>
                                    <form action="/public-pages/<%=pageEntry%>/review/<%=reviewContent._id%>/like?_method=PUT" method="post"
                                        class="icon-style-form">
                                    
                                        <button type="submit" alt="like"><i class="fa-solid fa-thumbs-up "> <%=reviewContent.likes%></i></button>
                                    </form>
                                    <form action="/public-pages/<%=pageEntry%>/review/<%=reviewContent._id%>/dislike?_method=PUT" method="post"
                                        class="icon-style-form">
                                    
                                        <button type="submit" alt="dislike"><i class="fa-solid fa-thumbs-down"><%=reviewContent.dislikes%></i></button>
                                    </form>
                                   <%}%>
                                <div class="review-style"> 
                                    

                                    <p class="review-text"><%=reviewContent.content%></p>
                                    <h4>Posted by: <%= reviewContent.author%></h4>
                                </div>                                


                            <%})%>
                    </div>
                </div>
                <%}%>
                    <% }) %>
                        </div>
                        <div class="back-btn">
                            <a class="btn btn-light" href="/public-pages" role="button"><i class="fas fa-home"></i></a>
                        </div>
    </div>

 