<%-include('partials/nav.ejs')-%>

    <article class="blog-post">
        <h2 class="blog-post-title">
           Public Page / Journal
        </h2>
    

<% publicPosts.reverse().forEach(function(post){%>
    <div>
       
    <!-- displays the users entry -->
    <h1 class="note-heading">
        
        By <%=post.owner%> : <%=post.title.substring(0,20) %>
        <span class="date-style">
                <%=post.date%>
                    <%=post.time%>
            </span>
    </h1>
    <p class="note-body">
        <!-- displays part of the entry content and leads to public contents page -->
        <%=post.content.substring(0,100) + "..." %> <button class="page-btn"><a href="/public-pages/<%=post._id%>">Go to page</a></button>
    </p>





    <h2>---</h2>
    <!-- edit form that changes state to not editing and disappears after the edit is made -->
    
    </div>

    <% }) %>
    

<div class="back-btn">
    <a class="btn btn-light" href="/pages" role="button"><i class="fas fa-home"></i></a>
</div>

