<%-include('partials/nav.ejs')-%>
    <div class="userContent-style">
        <% newPublicContent.forEach(function(newPageContent){%>
            <% if(newPageContent._id==pageEntry){%>

                <div class="container-fluid" >
                    <div class="row ">
                        <div class="col-md-7 entry-div">
                            <div class="entry-title">
                                <h1 class="post-title"><%=newPageContent.title%></h1>
                                <p class="post-meta">Posted by <%=newPageContent.owner%> on <%=newPageContent.date%> at <%=newPageContent.time%>. </p>
                            </div>
                            <div class="full-body note-<%=theme%>">
                                <p><%=newPageContent.content%></p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <%-include('partials/flash.ejs')-%>
                            <form action="/public-pages/<%=pageEntry%>/review?_method=PUT" method="POST" class="public-style">
                                <!-- the class waits for the value of the state to change and the corresponding style is added-->
                                <label><h5 class="review-title">Reviews</h5></label>
                                <div class="form-group ">
                                    <textarea class="form-control" name="content" rows="5" cols="30" placeholder="Contents" required></textarea>
                                    <button type="submit" class="btn btn-light prettyBtn">Add review</button>
                                    <h2>---</h2>
                                </div>
                            </form>
                        <div class="review-container">
                            <% newPageContent.reviews.reverse().forEach(function(reviewContent){%>
                                    <% if(reviewContent.author == currentUser){%>
                                    <form action="/public-pages/<%=pageEntry%>/review/<%=reviewContent._id%>/delete?_method=DELETE" method="post" class="icon-style-form">

                                        <button class="action-btn" type="submit" alt="delete review"><i class="fa-solid fa-eraser fa-xl"></i></button>
                                    </form>
                                    <%}%>

                                   
                                <% if(reviewContent.author !=currentUser){%>
                                    <form action="/public-pages/<%=pageEntry%>/review/<%=reviewContent._id%>/like?_method=PUT" method="post"
                                        class="icon-style-form" >
                                    
                                        <button class="action-btn" type="submit" alt="like"><i class="fa-solid fa-thumbs-up "> <%=reviewContent.likes%></i></button>
                                    </form>
                                    <form action="/public-pages/<%=pageEntry%>/review/<%=reviewContent._id%>/dislike?_method=PUT" method="post"
                                        class="icon-style-form">
                                            
                                        <button class="action-btn" type="submit" alt="dislike"><i class="fa-solid fa-thumbs-down "><%=reviewContent.dislikes%></i></button>
                                    </form>

                                <%}else {%>
                                        <i class="fa-solid fa-thumbs-up fa-xl ">
                                            <%=reviewContent.likes%>
                                        </i>
                                        <i class="fa-solid fa-thumbs-down fa-xl ">
                                            <%=reviewContent.dislikes%>
                                        </i>
                                    <%}%>

                                <div class="note-<%=theme%>"> 
                                    
                                    <p><%=reviewContent.content%></p>
                                    <p class="review-text">Posted by <%= reviewContent.author%></p>
                                </div>                                


                            <%})%>
                    </div>
                </div>
                <%}%>
                    <% }) %>
                </div>
                    </div>
                        <div class="back-btn ">
                            <a class="btn " href="/public-pages" role="button"><i class="fas fa-home"></i></a>
                        </div>
    </div>

 