<%-include('partials/nav.ejs')-%>
<h1 class="post-title">Settings</h1>


<!-- Image update from -->
<div class="profile-entry profile-img-container">
     <div class="row settings-container">  
        <div class="col-lg-4 col-md-4 col-sm-4 ">
            <img src="<%=currentUser.profileImage.url%>" class="profile-image" alt="...">
        </div> 
        <div class="col-lg-8 col-md-8 col-sm-8  note-<%=theme%>">       
            <form action="/settings/profile-image?_method=PUT" method="post" enctype="multipart/form-data">
                <p>Profile Image</p>
                <input class="form-control" type="file" name="profileImage" id="" required>
                <button type="submit"  class="btn btn-success btn-block update-btn">Update</button>
            
            </form>
        </div>
    </div> 
</div>

<!-- Location toggler -->
<div class="profile-entry">
    <div class="row settings-container">
    <div class="col-lg-4 col-md-4 col-sm-4 ">
        <img src="/css/images/default-cloud.png" class="profile-image" alt="...">
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 note-<%=theme%> ">
            <p>Location</p>
            <form action="/settings/location?_method=PUT" method="post">
                <div class="slider-flex">
                    <div class="slider-flex-content">
                       <h1>Off  </h1> 
                    </div>
                    <div ><label class="switch">
                        <!-- on each change of the slider the form is submitted -->
                        <!-- this toggles the location on and off -->
                        <% if(currentUser.locationAccess=="on" ){%>
                            <input id="toggler" type="checkbox" onChange="this.form.submit()" checked>
                            <span class="slider round"></span>
                            <%}else{%>
                                <input id="toggler" type="checkbox" onChange="this.form.submit()">
                                <span class="slider round"></span>
                                <%}%>
                    </label></div>
                    <div class="slider-flex-content slider-flex-content">
                       <h1> On</h1>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<h2>Account info</h2>
<p>Username: <%=currentUser.username%> </p>
<p>Access Level: <%=currentUser.accessType%></p>
<!-- logout button -->
<a href="/logout" role="button">
    <p>Log Out</p>
</a>


<script language="javascript">
    function alerttest(ei){
        alert("Hi there!: "+ ei.value);
        
    }    
</script>

<div class="back-btn">
    <a class="btn" href="/pages" role="button"><i class="fas fa-home"></i></a>
</div>
