<%-include('partials/header')-%>

    <div class="success">
        <h1>Success!</h1>
        <h1 id="result">Congratulations <%=theUser%> you have bought the plan</h1>
        <h1> Enjoy your: <%= session.data[0].description%> Access!</h5>
        <h5> Session Id: <%=JSON.stringify(session_id)%></h3>
        <script type="text/javascript">
            function submitform() {
                document.forms["myform"].submit();
                // document.getElementById('successBtn').click();
                // alert("Value is sumitted");

            }

        </script>
        
        <form id="myform" action="/success?_method=PUT" method="post">
            <input type="text" name="Name" value="<%= session.data[0].description%>" hidden="true">
            <input type="text" name="session_id" value="<%= session_id%>" hidden="true" >
            <a href="javascript: submitform()" hidden="true">Submit</a>
        
        </form>
        <p>Redirecting in 5 seconds.......</p>

        <h1>
            <div class="back-btn">
                <a class="btn btn-light" href="/pages" role="button"><i class="fas fa-home"></i></a>
            </div>
        </h1>
    </div>
    <script>submitform()</script>
    <%-include('partials/footer')-%>