<%-include('partials/nav.ejs')-%>


<div class="userContent-style">
<% newPage.forEach(function(newPageContent){%>
    <% if(newPageContent._id == pageEntry){%>

        <div class="entry-title entry-div">
            <div class="entry-title">
                <h1 class="post-title">
                    <%=newPageContent.title%>
                </h1>
                <p class="post-meta">
                    Created on <%=newPageContent.date%> at <%=newPageContent.time%>
                </p>
            </div>
            <div class="full-body">
                <p><%=newPageContent.content%></p>
            </div>
    <%}%>
    <% }) %>
<div class="back-btn">
    <a class="btn btn-light" href="/pages" role="button"><i class="fas fa-home"></i></a>
</div>
</div>
