<%-include('partials/nav.ejs')-%>


<div class="userContent-style">
<% newPage.forEach(function(newPageContent){%>
    <% if(newPageContent._id == pageEntry){%>
    <article class="blog-post">
        <h2 class="blog-post-title">
            <%=newPageContent.title%>
        </h2>
        <p class="blog-post-meta">
            <%=newPageContent.date%> at <%=newPageContent.time%> by <%=newPageContent.owner%>
        </p>

        <p class="page-entry full-body">
            <%=newPageContent.content%>
        </p>
    </article>
    <%}%>
    <% }) %>
<div class="back-btn">
    <a class="btn btn-light" href="/pages" role="button"><i class="fas fa-home"></i></a>
</div>
</div>
